In [57]:
import pandas as pd

df = pd.read_csv('data.txt', header=None, names=['calories'], skip_blank_lines=False)
df['elf_id'] = df.calories.isnull().astype(int).cumsum()
df = df.dropna(how='any')
df['calories'] = df.calories.astype(int)
df.head(20)

    calories  elf_id
0       5800       0
1       2273       0
2       1315       0
3       5801       0
4       6352       0
5       2649       0
6       4140       0
7       2115       0
8       5298       0
9       4441       0
10      4428       0
11      3773       0
12      1076       0
14      8063       1
15     10386       1
16      5705       1
17      8397       1
18      1084       1
19      7661       1
21      3661       2

In [58]:
elf_calories = df.groupby(['elf_id']).calories.sum()

In [59]:
# part 1
elf_calories.idxmax(), elf_calories.max()

(132, 66616)

In [60]:
# part 2
elf_calories.sort_values(ascending=False).head(3).sum()

199172